@use "../../styles/typography" as *;

* {
  font-family: $font-stack;
}

.header {
  display: flex;
  color: white;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
  height: 5rem;
  font-family: $font-stack;
}

.PageNav {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../assets/images/marvel-background.jpg");
  background-size: cover;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;

  &-title {
    font-size: 1.5rem;
    font-style: italic;
    font-family: $font-stack;
  }

  &-subtitle {
    padding: 1rem 0.5rem 1rem 1rem;
    width: 13rem;
    font-family: $font-stack;
  }

  &__hero--title {
    color: white;
    font-family: $font-stack;
    font-size: 2.5rem;
    font-style: italic;
    padding: 0 0 0 2rem;
    margin: 2rem 0 0 0;
  }

  &__hero--subtitle {
    padding: 0 0 0 2rem;
    margin: 0;
    color: white;
    font-family: $font-stack;
    margin: 0 0 2rem 0;
  }

  &-link {
    text-decoration: none;
    color: white;
  }
}
