*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-seriff;
}

.search-bar__wrapper{
    max-width: 20rem; 
    margin: 150px auto; 
}

.search-bar__wrapper .search-input {
    background-color: white; 
    position: relative; 
}

.autocomplete-box {
    list-style: none;
    width: 100%;
    height: 15rem; 
    cursor: default;
    border-radius: 3px;
    background-color: white; 
    font-size: 1.25rem;
    margin: 0 1rem 0 0;
    overflow: hidden; 
    overflow-y: auto; 
}

.autocomplete-box::-webkit-scrollbar {
    display: none; 
}

.search-input {
    height: 1.5rem;
    width: 100%;
    outline: none; 
    border: none; 
    border-radius: 0.5rem 0.5rem 0 0; 
    font-size: 1.25rem; 
    margin: 0 1rem 0 0; 
}

.search-button .search-icon {
    height: 100%; 
    width: 10%; 
    position: absolute;
    top: 0;
    right: 0; 
    text-align: center; 
    color: #644bff;
    cursor: pointer;
}

.search-input:active {
    border-radius: 5px 5px 0 0; 
}

// .search-input .autocomplete-box {
//     opacity: 0; 
//     pointer-events: none; 
//     max-height: 15rem; 
//     overflow-y: auto; 
// }

.search-input:active .autocomplete-box li{
    display: block;
  }

.autocomplete-box li:hover {
    background-color: #efefef; 
}

.input {
    border: none; 
    padding: 0 0 0 1rem; 
}

// .search-input .search-icon{
//     position: absolute;

//   }

.itemslist {
    list-style-type: none;
    a {
        text-decoration: none;
        color: black; 
    }

}

.items {
    font-size: 1.125rem; 
    padding: 0.25rem; 
}