@use "../../styles/typography" as *;
.hero-scroll-menu {
  max-height: 175px;
  padding: 14px;
  display: flex;
  overflow: auto;
  background-color: black; 
}

.hero-scroll-menu::-webkit-scrollbar {
    width: 0; 
}

.hero-scroll {
    margin: 0 1rem; 
    border-radius: 0.5rem; 
}

.hero-scroll:hover{
  transform: scale(1.1);
}