@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

@font-face {
    font-family: 'Fuzzy Bubbles', cursive;
    src: url('../assets/Fonts/Fuzzy_Bubbles/FuzzyBubbles-Regular.ttf') format('truetype');
    font-weight: 400; 
}

$font-stack: 'Fuzzy Bubbles';

